<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Chat</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

</head>
<body>
<div class="container">



    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span>My Chats</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <form action="/chat" method="post">

        <div class="form-group">
            <label>Add a Chat</label>
            <input type="text" class="form-control" name="name">
        </div>

        <button type="submit" class="btn btn-warning btn-lg">Add Chat</button>
        
    </form>

    <div>
      <a href="/chat" class="btn btn-default btn-sm">chat 1</a>
    </div>

    <div>
      <a href="/chat" class="btn btn-default btn-sm">chat 2</a>
    </div>

    <div>
      <a href="/chat" class="btn btn-default btn-sm">chat 3</a>
    </div>

</div>
</body>
</html>
